{% extends 'officials/base_officials.html' %}

{% block title %}Outing History{% endblock title %}

{% load qr_code %}
{% block content %}
<h2 class="text-center">Outing History</h2>
<hr />

<h4 class="ml-4 text-center">Upcoming Outings</h4>
<div class="overflow-auto p-3">
  <table class="table table-hover table-muted table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Permission</th>
        <th>Status</th>
        <th>Action</th>
        <th>Cancel</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for outing in outing_list %}
      {% if outing.is_upcoming %}
      <tr >
        <td>{{ outing.id }}</td>
        <td nowrap>{{ outing.fromDate }}</td>
        {% if outing.type != 'Vacation' %}
        <td nowrap>{{ outing.toDate }}</td>
        {% else %}
        <td nowrap>None</td>
        {% endif %}
        <td>{{ outing.type }}</td>

        <td
          {% if outing.permission == 'Pending' or outing.permission == 'Processing' or outing.permission == 'Pending Extension' or outing.permission == 'Processing Extension' %}
          class="text-primary" {% endif %} {% if outing.permission == 'Granted' or outing.permission == 'Extension Granted' %} class="text-success" {% endif %}
          {% if outing.permission == 'Rejected' or outing.permission == 'Revoked' or outing.permission == 'Extension Rejected' %} class="text-danger" {% endif %}>
          {{ outing.permission }}
        </td>
        <td
          {% if outing.status == 'In Outing' %} class="text-success" {% endif %}
          {% if outing.status == 'Closed' %} class="text-danger" {% endif %}
        >
        {{ outing.status }}</td>
        <td nowrap>
          <!-- {% if outing.is_editable %}
          <a href="{% url 'students:outing_edit' outing.id %}" target="_blank" class="btn btn-primary">Edit</a>
          {% else %} -->
          {% if outing.is_extendable %}
          <a href="{% url 'students:outing_extend' outing.id %}" target="_blank" class="btn btn-primary">Extend</a>
          {% endif %}
          {% endif %}

        </td>
        <td>
          {% if outing.can_cancel %}
          <form action="{% url 'students:outing_cancel' outing.id %}" method="post"
            onsubmit="return confirm('Are you sure you want to cancel outing ?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel</button>
          </form>
          {% endif %}
        </td>
        <td>
          <form action="{% url 'students:outing_details' outing.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">More</button>{% endif %}
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h4 class="ml-4 text-center">Past Outings</h4>
<div class="overflow-auto p-3">
  <table class="table table-hover table-muted table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Permission</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for outing in outing_list %}
      {% if not outing.is_upcoming %}
      <tr>
        <td>{{ outing.id }}</td>
        <td nowrap>{{ outing.fromDate }}</td>
        <td nowrap>{{ outing.toDate }}</td>
        <td>{{ outing.type }}</td>
        <td
        {% if outing.permission == 'Pending' or outing.permission == 'Processing' or outing.permission == 'Pending Extension' or outing.permission == 'Processing Extension' %}
        class="text-primary" {% endif %} {% if outing.permission == 'Granted' or outing.permission == 'Extension Granted' %} class="text-success" {% endif %}
        {% if outing.permission == 'Rejected' or outing.permission == 'Revoked' or outing.permission == 'Extension Rejected' %} class="text-danger" {% endif %}>
          {{ outing.permission }}
        </td>
        <td
          {% if outing.status == 'In Outing' %} class="text-success" {% endif %}
          {% if outing.status == 'Closed' %} class="text-danger" {% endif %}
        >
        {{ outing.status }}
      </td>

        <td>
          <form action="{% url 'students:outing_details' outing.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">More</button>
          </form>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('table').DataTable({
      "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000, -1], [10, 25, 50, 100, 250, 500, 1000, "All"]],
      "info": false,
      "dom": '<"row"<"col-3"l><"col"f><"col"p>>t'
    });
  });
</script>
{% endblock script_links %}
