{% extends 'officials/base_public_forms.html' %}
{% block title %}Outing Application{% endblock title %}


{% block style_links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style_links %}
  

{% block content %}

{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  <div class="card-body text-capitalize">
    <div class="row">
      <div class="col-12">
        {{ form|crispy }}
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-warning px-4 py-2">Apply</button>
    </div>
  </div>
</form>
  
{% endblock content %}


{% block script_links %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  function addSelectElement(value){
    let select_element = document.createElement('select');
    select_element.id = 'id_purpose';
    select_element.className = 'select form-control';
    select_element.required = true;
    select_element.name = 'purpose';
    let div_element = document.getElementById('div2_id_purpose');
    div_element.appendChild(select_element);
    let option1 = document.createElement('option');
    option1.value = '';
    option1.innerHTML = '------------';
    option1.selected = true;
    let option2 = document.createElement('option');
    option2.value = 'Family Related';
    if (value==option2.value){
      option2.selected = true;
    }
    option2.innerHTML = 'Family Related';
    let option3 = document.createElement('option');
    option3.value = 'Medical Emergency';
    if (value == option3.value){
      option3.selected = true;
    }
    option3.innerHTML = 'Medical Emergency';
    select_element.appendChild(option1);
    select_element.appendChild(option2);
    select_element.appendChild(option3);
    document.getElementById('id_purpose').addEventListener('change', purposeEventListener);
  }
  function addTextElement(){
    let text_element = document.createElement('input');
    text_element.id = 'id_purpose';
    text_element.className = 'textinput textInput form-control';
    text_element.required = true;
    text_element.name = 'purpose';
    text_element.type = 'text';
    let div_element = document.getElementById('div2_id_purpose');
    div_element.appendChild(text_element);
    document.getElementById('id_purpose').addEventListener('change', purposeEventListener);
  }

  function purposeEventListener(){
    if (document.getElementById('id_type').value == 'Emergency'){
      if (document.getElementById('id_purpose').value == 'Medical Emergency'){
        document.getElementById('div_id_emergency_medical_issue').hidden = false;
        document.getElementById('id_emergency_medical_issue').required = true;
        document.querySelector("label[for='id_emergency_medical_issue']").className = ' requiredField'
        document.querySelector("label[for='id_emergency_medical_issue']").innerHTML += '<span class="asteriskField">*</span>'
      }
      else{
        if (document.getElementById('div_id_emergency_medical_issue')!=null){
          document.getElementById('div_id_emergency_medical_issue').hidden = true;
          document.getElementById('id_emergency_medical_issue').required = false;
          document.querySelector("label[for='id_emergency_medical_issue']").className = ''
        }
      }
    }
    else{
      if (document.getElementById('div_id_emergency_medical_issue')!=null){
        document.getElementById('div_id_emergency_medical_issue').hidden = true;
        document.getElementById('id_emergency_medical_issue').required = false;
        document.querySelector("label[for='id_emergency_medical_issue']").className = ''
      }
    }
  }


  document.getElementById('id_purpose').parentNode.id = 'div2_id_purpose';
  if (document.getElementById('id_type').value == 'Emergency'){
    if (document.getElementById('id_purpose').value == 'Medical Emergency'){
      document.getElementById('div_id_emergency_medical_issue').hidden = false;
      document.getElementById('id_emergency_medical_issue').required = true;
      document.querySelector("label[for='id_emergency_medical_issue']").className = ' requiredField'
        document.querySelector("label[for='id_emergency_medical_issue']").innerHTML += '<span class="asteriskField">*</span>'
    }
    else{
      if (document.getElementById('div_id_emergency_medical_issue')!=null){
        document.getElementById('div_id_emergency_medical_issue').hidden = true;
        document.getElementById('id_emergency_medical_issue').required = false;
        document.querySelector("label[for='id_emergency_medical_issue']").className = ''
      }
    }
  }
  else{
    if (document.getElementById('div_id_emergency_medical_issue')!=null){
      document.getElementById('div_id_emergency_medical_issue').hidden = true;
      document.getElementById('id_emergency_medical_issue').required = false;
      document.querySelector("label[for='id_emergency_medical_issue']").className = ''
    }
  }
  if (document.getElementById('id_type').value=='Local' || document.getElementById('id_type').value==''){
    document.getElementById('div_id_mode_of_journey_from').style['display'] = 'None';
    document.getElementById('div_id_mode_of_journey_to').style['display'] = 'None';
    document.getElementById('div_id_emergency_contact').style['display'] = 'None';
    document.getElementById('id_mode_of_journey_from').value = 'NA';
    document.getElementById('id_mode_of_journey_to').value = 'NA';
    document.getElementById('id_emergency_contact').value = 0;
    if (document.getElementById('id_purpose').type != 'text'){
      document.getElementById('id_purpose').remove();
      addTextElement();
    }
    if (document.getElementById('div_id_emergency_medical_issue')!=null){
      document.getElementById('div_id_emergency_medical_issue').hidden = true;
    }
  }
  else{
    document.getElementById('div_id_mode_of_journey_from').style['display'] = '';
    document.getElementById('div_id_mode_of_journey_to').style['display'] = '';
    document.getElementById('div_id_emergency_contact').style['display'] = '';
    if (document.getElementById('id_mode_of_journey_from').value == 'NA'){
      document.getElementById('id_mode_of_journey_from').value = '';
    }
    if(document.getElementById('id_mode_of_journey_to').value == 'NA'){
      document.getElementById('id_mode_of_journey_to').value = '';
    }
    if (document.getElementById('id_emergency_contact').value == 0){
      document.getElementById('id_emergency_contact').value = '';
    }
    if (document.getElementById('id_type').value=='Emergency'){
      if (document.getElementById('id_purpose').type != 'select-one'){
        value = document.getElementById('id_purpose').value;
        document.getElementById('id_purpose').remove();
        addSelectElement(value);
      }
    }
    else if(document.getElementById('id_type').value=='Non-Local'){
      if (document.getElementById('id_purpose').type != 'text'){
        document.getElementById('id_purpose').remove();
        addTextElement();
      }
      if (document.getElementById('div_id_emergency_medical_issue')!=null){
        document.getElementById('div_id_emergency_medical_issue').hidden = true;
      }
    }
  }


  flatpickr('#id_fromDate', {
    altInput: true,
    altFormat: "M j, Y H:i",
    enableTime: true,
    minDate: "today",
    time_24hr: true
  });
  flatpickr('#id_toDate', {
    altInput: true,
    altFormat: "M j, Y H:i",
    enableTime: true,
    minDate: "today",
    time_24hr: true
  });

  document.getElementById('id_type').addEventListener('change', function(){
    if (this.value=='Local' || this.value==''){
      document.getElementById('div_id_mode_of_journey_from').style['display'] = 'None';
      document.getElementById('div_id_mode_of_journey_to').style['display'] = 'None';
      document.getElementById('div_id_emergency_contact').style['display'] = 'None';
      document.getElementById('id_mode_of_journey_from').value = 'NA';
      document.getElementById('id_mode_of_journey_to').value = 'NA';
      document.getElementById('id_emergency_contact').value = 0;
      if (document.getElementById('id_purpose').type != 'text'){
      document.getElementById('id_purpose').remove();
      addTextElement();
      }
      if (document.getElementById('div_id_emergency_medical_issue')!=null){
        document.getElementById('div_id_emergency_medical_issue').hidden = true;
      }
    }
    else{
      document.getElementById('div_id_mode_of_journey_from').style['display'] = '';
      document.getElementById('div_id_mode_of_journey_to').style['display'] = '';
      document.getElementById('div_id_emergency_contact').style['display'] = '';
      if (document.getElementById('id_mode_of_journey_from').value == 'NA'){
        document.getElementById('id_mode_of_journey_from').value = '';
      }
      if(document.getElementById('id_mode_of_journey_to').value == 'NA'){
        document.getElementById('id_mode_of_journey_to').value = '';
      }
      if (document.getElementById('id_emergency_contact').value == 0){
        document.getElementById('id_emergency_contact').value = '';
      }
      if (document.getElementById('id_type').value=='Emergency'){
        if (document.getElementById('id_purpose').type != 'select-one'){
          value = document.getElementById('id_purpose').value;
          document.getElementById('id_purpose').remove();
          addSelectElement(value);
        }
      }
      else if(document.getElementById('id_type').value=='Non-Local'){
        if (document.getElementById('id_purpose').type != 'text'){
          document.getElementById('id_purpose').remove();
          addTextElement();
        }
        if (document.getElementById('div_id_emergency_medical_issue')!=null){
          document.getElementById('div_id_emergency_medical_issue').hidden = true;
        }
      }
    }
  });

  document.getElementById('id_purpose').addEventListener('change', purposeEventListener);

</script>
{% endblock script_links %}
  