{% extends 'officials/base_officials.html' %}

{% block title %}Outing Details{% endblock title %}

{% block content %}
<h2 class="text-center">Outing Details</h2>
<hr />

<div class="row mx-md-4 mt-4 justify-content-center">
  <div class="col-md-6 p-3">
    <table class="table table-borderless">
      <tbody>
        <tr><th>ID</th><td>{{ outing.id }}</td></tr>
        <tr><th>From</th> <td nowrap>{{ outing.fromDate }}</td></tr>
        <tr>
          <th>To</th>
          {% if outing.type != 'Vacation' %}
          <td nowrap>{{ outing.toDate }}</td>
          {% else %}
          <td nowrap>None</td>
          {% endif %}
        </tr>
        <tr><th>Out Time</th><td nowrap>{{ outing.outTime }}</td></tr>
        <tr>
          <th>In Time</th>
          {% if outing.type != 'Vacation' %}
          <td nowrap>{{ outing.inTime }}</td>
          {% else %}
          <td nowrap>None</td>
          {% endif %}
        </tr>
        <tr><th>Type</th><td>{{ outing.type }}</td></tr>
        <tr><th>Purpose of Visit</th><td>{{ outing.purpose }}</td></tr>
        <tr><th>Parent Consent</th><td>{{ outing.parent_consent }}</td></tr>
        {% if outing.type != 'Local' %}
        <tr><th>Mode of Journey From College</th><td>{{ outing.mode_of_journey_from }}</td></tr>
        <tr><th>Mode of Journey To College</th><td>{{ outing.mode_of_journey_to }}</td></tr>
        <tr><th>Emergency Contact Number</th><td>{{ outing.emergency_contact }}</td></tr>
        {% if outing.type == 'Emergency' and outing.purpose == 'Medical Emergency' %}
        <tr><th>Medical Issue Id</th><td>{{ outing.emergency_medical_issue.id }}</td></tr>
        {% endif %}
        {% endif %}
        <tr><th>Remark by Caretaker</th><td>{{ outing.remark_by_caretaker }}</td></tr>
        <tr><th>Remark by Warden</th><td>{{ outing.remark_by_warden }}</td></tr>
        <tr><th>Remark by Security</th><td>{{ outing.remark_by_security }}</td></tr>
        <tr><th>Permission</th>
          <td
          {% if outing.permission == 'Pending' or outing.permission == 'Processing' or outing.permission == 'Pending Extension' or outing.permission == 'Processing Extension' %}
          class="text-primary" {% endif %} {% if outing.permission == 'Granted' or outing.permission == 'Extension Granted' %} class="text-success" {% endif %}
          {% if outing.permission == 'Rejected' or outing.permission == 'Revoked' or outing.permission == 'Extension Rejected' %} class="text-danger" {% endif %}>
          {{ outing.permission }}
        </td>
        </tr>
        <tr><th>Status</th>
          <td
          {% if outing.status == 'In Outing' %} class="text-success" {% endif %}
          {% if outing.status == 'Closed' %} class="text-danger" {% endif %}
        >
        {{ outing.status }}</td>
        </tr>
        <tr><th>Mess Rebate</th><td>{{ outing.mess_rebate }}</td></tr>
        {% if outing.mess_rebate == 'Enabled' %}
        <tr><th>Mess Rebate Status</th><td>{{ outing.mess_rebate_status }}</td></tr>
        <tr><th>No. of Rebate days</th><td>{{ outing.mess_rebate_days }}</td></tr>
        <tr><th>Mess Rebate Remarks</th><td>{{ outing.mess_rebate_remarks }}</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% if outing.is_qr_viewable %}
<div class="text-center">
  <a href="{% url 'students:outing_QRCode' outing.pk %}">
      <button class="btn btn-danger" type="button">Show QR</button>
  </a>
</div>
{% endif %}
<hr />
<div class="text-center">

</div>
<hr />
<div class="text-center">
  <a href="{% url 'students:outing_list' %}">
      <button class="btn btn-primary" type="button">Back</button>
  </a>
</div>
{% endblock content %}