<div class="container-fluid floor-con p-4 mt-2 text-center" id="ground-con">
  <div>
    <div class="room-card">G-10</div>
    <div class="room-card">G-11</div>
    <div class="room-card">G-12</div>
    <div class="room-card">G-13</div>
    <div class="room-card">G-14</div>
    <div class="stairs">Stairs</div>
    <div class="staff"><small>Electrical Room</small></div>
    <div class="room-card">G-15</div>
    <div class="room-card">G-16</div>
    <div class="room-card">G-17</div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">G-18</div>
    <div class="room-card">G-19</div>
    <div class="room-card">G-20</div>
    <div class="room-card">G-21</div>
    <div class="stairs">Stairs</div>
    <div class="room-card">G-22</div>
    <div class="room-card">G-23</div>
    <div class="room-card">G-24</div>
    <div class="room-card">G-25</div>
    <div class="room-card">G-26</div>
  </div>
  {% include 'officials/layouts/pathway.html' %}
  <div>
      <div class="room-card">G-9</div>
      <div class="room-card">G-8</div>
      <div class="room-card">G-7</div>
      <div class="room-card">G-6</div>
      <div class="room-card">G-5</div>
      <div class="stairs"><small>Entrance-1</small></div>
      <div class="staff"><small>Security Room</small></div>
      <div class="room-card">G-4</div>
      <div class="room-card">G-3</div>
      <div class="room-card">G-2</div>
      <div class="staff"><small>Sick(G-1)</small></div>
      <div class="restroom">Restrooms</div>
      <div class="staff"><small>Warden(G-35)</small></div>
      <div class="room-card">G-34</div>
      <div class="room-card">G-33</div>
      <div class="room-card">G-32</div>
      <div class="staff"><small>Store Room</small></div>
      <div class="stairs"><small>Entrance-2</small></div>
      <div class="room-card">G-31</div>
      <div class="room-card">G-30</div>
      <div class="room-card">G-29</div>
      <div class="room-card">G-28</div>
      <div class="room-card">G-27</div>
      
    </div>
</div>
<div class="container-fluid floor-con p-4 mt-2 text-center" id="first-con">
  <div>
    <div class="room-card">F-110</div>
    <div class="room-card">F-111</div>
    <div class="room-card">F-112</div>
    <div class="room-card">F-113</div>
    <div class="room-card">F-114</div>
    <div class="stairs">Stairs</div>
    <div class="staff"><small>Electrical Room</small></div>
    <div class="room-card">F-115</div>
    <div class="room-card">F-116</div>
    <div class="room-card">F-117</div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">F-118</div>
    <div class="room-card">F-119</div>
    <div class="room-card">F-120</div>
    <div class="room-card">F-121</div>
    <div class="stairs">Stairs</div>
    <div class="room-card">F-122</div>
    <div class="room-card">F-123</div>
    <div class="room-card">F-124</div>
    <div class="room-card">F-125</div>
    <div class="room-card">F-126</div>
  </div>
  {% include 'officials/layouts/pathway.html' %}
  <div>
      <div class="room-card">F-109</div>
      <div class="room-card">F-108</div>
      <div class="room-card">F-107</div>
      <div class="room-card">F-106</div>
      <div class="room-card">F-105</div>
      <div class="staff stairs">RR2</div>
      <div class="room-card">F-104</div>
      <div class="room-card">F-103</div>
      <div class="room-card">F-102</div>
      <div class="room-card">F-101</div>
      <div class="restroom">Restrooms</div>
      <div class="room-card">F-135</div>
      <div class="room-card">F-134</div>
      <div class="room-card">F-133</div>
      <div class="room-card">F-132</div>
      <div class="staff stairs">RR1</div>
      <div class="room-card">F-131</div>
      <div class="room-card">F-130</div>
      <div class="room-card">F-129</div>
      <div class="room-card">F-128</div>
      <div class="room-card">F-127</div>
      
    </div>
</div>

<div class="container-fluid floor-con p-4 mt-2 text-center" id="second-con">
  <div>
    <div class="room-card">S2-210</div>
    <div class="room-card">S-211</div>
    <div class="room-card">S-212</div>
    <div class="room-card">S-213</div>
    <div class="room-card">S-214</div>
    <div class="stairs">Stairs</div>
    <div class="staff"><small>Electrical Room</small></div>
    <div class="room-card">S-215</div>
    <div class="room-card">S-216</div>
    <div class="room-card">S-217</div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">S-218</div>
    <div class="room-card">S-219</div>
    <div class="room-card">S-220</div>
    <div class="room-card">S-221</div>
    <div class="stairs">Stairs</div>
    <div class="room-card">S-222</div>
    <div class="room-card">S-223</div>
    <div class="room-card">S-224</div>
    <div class="room-card">S-225</div>
    <div class="room-card">S-226</div>
  </div>
  {% include 'officials/layouts/pathway.html' %}
  <div>
      <div class="room-card">S-209</div>
      <div class="room-card">S-208</div>
      <div class="room-card">S-207</div>
      <div class="room-card">S-206</div>
      <div class="room-card">S-205</div>
      <div class="balcony stairs"><small>Balcony</small></div>
      <div class="room-card">S-204</div>
      <div class="room-card">S-203</div>
      <div class="room-card">S-202</div>
      <div class="room-card">S-201</div>
      <div class="restroom">Restrooms</div>
      <div class="room-card">S-235</div>
      <div class="room-card">S-234</div>
      <div class="room-card">S-233</div>
      <div class="room-card">S-232</div>
      <div class="balcony stairs"><small>Balcony</small></div>
      <div class="room-card">S-231</div>
      <div class="room-card">S-230</div>
      <div class="room-card">S-229</div>
      <div class="room-card">S-228</div>
      <div class="room-card">S-227</div>
      
    </div>
</div>


<div class="container-fluid floor-con p-4 mt-2 text-center" id="third-con">
  <div>
    <div class="room-card">T-309</div>
    <div class="room-card">T-310</div>
    <div class="room-card">T-311</div>
    <div class="room-card">T-312</div>
    <div class="room-card">T-313</div>
    <div class="stairs">Stairs</div>
    <div class="staff"><small>Electrical Room</small></div>
    <div class="room-card">T-314</div>
    <div class="room-card">T-315</div>
    <div class="room-card">T-316</div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">T-317</div>
    <div class="room-card">T-318</div>
    <div class="room-card">T-319</div>
    <div class="room-card">T-320</div>
    <div class="stairs">Stairs</div>
    <div class="room-card">T-321</div>
    <div class="room-card">T-322</div>
    <div class="room-card">T-323</div>
    <div class="room-card">T-324</div>
    <div class="room-card">T-325</div>
  </div>
  {% include 'officials/layouts/pathway.html' %}
  <div>
      <div class="room-card">T-308</div>
      <div class="room-card">T-307</div>
      <div class="room-card">T-306</div>
      <div class="room-card">T-305</div>
      <div class="room-card">T-304</div>
      <div class="staff stairs">RR2</div>
      <div class="room-card">T-303</div>
      <div class="room-card">T-302</div>
      <div class="room-card">T-301</div>
      <div class="balcony stairs"><small>Balcony</small></div>
      <div class="restroom">Restrooms</div>
      <div class="balcony stairs"><small>Balcony</small></div>
      <div class="room-card">T-333</div>
      <div class="room-card">T-332</div>
      <div class="room-card">T-331</div>
      <div class="staff stairs">RR1</div>
      <div class="room-card">T-330</div>
      <div class="room-card">T-329</div>
      <div class="room-card">T-328</div>
      <div class="room-card">T-327</div>
      <div class="room-card">T-326</div>
    </div>
</div>



