<div class="container-fluid floor-con p-4 mt-2 text-center" id="third-con">
    <div>
        <div class="room-card">T-307</div>
        <div class="room-card">T-308</div>
        <div class="room-card">T-309</div>
        <div class="room-card">T-310</div>
        <div class="stairs">Stairs</div>
        <div class="room-card">T-311</div>
        <div class="room-card">T-312</div>
        <div class="room-card">T-313</div>
        <div class="restroom">Restrooms</div>
        <div class="room-card">T-314</div>
        <div class="room-card">T-315</div>
        <div class="staff"><small>Network Room<small></div>
        <div class="stairs">Stairs</div>
        <div class="room-card">T-316</div>
        <div class="room-card">T-317</div>
        <div class="room-card">T-318</div>
        <div class="room-card">T-319</div>
        
      </div>
      {% include 'officials/layouts/pathway.html' %}
      <div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="room-card">T-306</div>
          <div class="room-card">T-305</div>
          <div class="room-card">T-304</div>
          <div class="staff stairs">RR1</div>
          <div class="room-card">T-303</div>
          <div class="room-card">T-302</div>
          <div class="room-card">T-301</div>
          <div class="restroom">Restrooms</div>
          <div class="room-card">T-325</div>
          <div class="room-card">T-324</div>
          <div class="room-card">T-323</div>
          <div class="staff stairs">RR2</div>
          <div class="room-card">T-322</div>
          <div class="room-card">T-321</div>
          <div class="room-card">T-320</div>
          <div class="balcony stairs"><small>Balcony</small></div>
          
        </div>
  </div>
<div class="container-fluid floor-con p-4 mt-2 text-center" id="fourth-con">
    <div>
        <div class="room-card">FT-406</div>
        <div class="room-card">FT-407</div>
        <div class="room-card">FT-408</div>
        <div class="room-card">FT-409</div>
        <div class="stairs">Stairs</div>
        <div class="room-card">FT-410</div>
        <div class="room-card">FT-411</div>
        <div class="room-card">FT-412</div>
        <div class="restroom">Restrooms</div>
        <div class="room-card">FT-413</div>
        <div class="room-card">FT-414</div>
        <div class="staff"><small>Network Room</small></div>
        <div class="stairs">Stairs</div>
        <div class="room-card">FT-415</div>
        <div class="room-card">FT-416</div>
        <div class="room-card">FT-417</div>
        <div class="room-card">FT-418</div>
        
      </div>
      {% include 'officials/layouts/pathway.html' %}
      <div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="room-card">FT-405</div>
          <div class="room-card">FT-404</div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="room-card">FT-403</div>
          <div class="room-card">FT-402</div>
          <div class="room-card">FT-401</div>
          <div class="restroom">Restrooms</div>
          <div class="room-card">FT-423</div>
          <div class="room-card">FT-422</div>
          <div class="room-card">FT-421</div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="room-card">FT-420</div>
          <div class="room-card">FT-419</div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="balcony stairs"><small>Balcony</small></div>
          
        </div>
  </div>
  