<div class="container-fluid floor-con p-4 mt-2 text-center" id="ground-con">
    <div>
      <div class="room-card">G-8</div>
      <div class="room-card">G-9</div>
      <div class="room-card">G-10</div>
      <div class="staff"><small>Warden(G-11)</small></div>
      <div class="stairs">Stairs</div>
      <div class="staff"><small>Sick(G-12)</small></div>
      <div class="room-card">G-13</div>
      <div class="room-card">G-14</div>
      <div class="restroom">Restrooms</div>
      <div class="room-card">G-15</div>
      <div class="room-card">G-16</div>
      <div class="staff"><small>Electrical Room</small></div>
      <div class="stairs">Stairs</div>
      <div class="room-card">G-17</div>
      <div class="room-card">G-18</div>
      <div class="room-card">G-19</div>
      <div class="room-card">G-20</div>
      
    </div>
    {% include 'officials/layouts/pathway.html' %}
    <div>
        <div class="room-card">G-7</div>
        <div class="room-card">G-6</div>
        <div class="room-card">G-5</div>
        <div class="room-card">G-4</div>
        <div class="stairs"><small>Entrance-2</small></div>
        <div class="staff"><small>Security Room</small></div>
        <div class="room-card">G-3</div>
        <div class="room-card">G-2</div>
        <div class="room-card">G-1</div>
        <div class="restroom">Restrooms</div>
        <div class="room-card">G-27</div>
        <div class="room-card">G-26</div>
        <div class="room-card">G-25</div>
        <div class="staff"><small>Store Room</small></div>
        <div class="stairs"><small>Entrance-1</small></div>
        <div class="room-card">G-24</div>
        <div class="room-card">G-23</div>
        <div class="room-card">G-22</div>
        <div class="room-card">G-21</div>
        
      </div>
  </div>
  
  <div class="container-fluid floor-con p-4 mt-2 text-center" id="first-con">
    <div>
        <div class="room-card">F-108</div>
        <div class="room-card">F-109</div>
        <div class="room-card">F-110</div>
        <div class="room-card">F-111</div>
        <div class="stairs">Stairs</div>
        <div class="room-card">F-112</div>
        <div class="room-card">F-113</div>
        <div class="room-card">F-114</div>
        <div class="restroom">Restrooms</div>
        <div class="room-card">F-115</div>
        <div class="room-card">F-116</div>
        <div class="staff"><small>Network Room</small></div>
        <div class="stairs">Stairs</div>
        <div class="room-card">F-117</div>
        <div class="room-card">F-118</div>
        <div class="room-card">F-119</div>
        <div class="room-card">F-120</div>
        
      </div>
      {% include 'officials/layouts/pathway.html' %}
      <div>
          <div class="room-card">F-107</div>
          <div class="room-card">F-106</div>
          <div class="room-card">F-105</div>
          <div class="room-card">F-104</div>
          <div class="staff stairs">RR1</div>
          <div class="room-card">F-103</div>
          <div class="room-card">F-102</div>
          <div class="room-card">F-101</div>
          <div class="restroom">Restrooms</div>
          <div class="room-card">F-127</div>
          <div class="room-card">F-126</div>
          <div class="room-card">F-125</div>
          <div class="staff stairs">RR2</div>
          <div class="room-card">F-124</div>
          <div class="room-card">F-123</div>
          <div class="room-card">F-122</div>
          <div class="room-card">F-121</div>
          
        </div>
  </div>
  
  <div class="container-fluid floor-con p-4 mt-2 text-center" id="second-con">
    <div>
        <div class="room-card">S-208</div>
        <div class="room-card">S-209</div>
        <div class="room-card">S-210</div>
        <div class="room-card">S-211</div>
        <div class="stairs">Stairs</div>
        <div class="room-card">S-212</div>
        <div class="room-card">S-213</div>
        <div class="room-card">S-214</div>
        <div class="restroom">Restrooms</div>
        <div class="room-card">S-215</div>
        <div class="room-card">S-216</div>
        <div class="staff"><small>Network Room</small></div>
        <div class="stairs">Stairs</div>
        <div class="room-card">S-217</div>
        <div class="room-card">S-218</div>
        <div class="room-card">S-219</div>
        <div class="room-card">S-220</div>
        
      </div>
      {% include 'officials/layouts/pathway.html' %}
      <div>
          <div class="room-card">S-207</div>
          <div class="room-card">S-206</div>
          <div class="room-card">S-205</div>
          <div class="room-card">S-204</div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="room-card">S-203</div>
          <div class="room-card">S-202</div>
          <div class="room-card">S-201</div>
          <div class="restroom">Restrooms</div>
          <div class="room-card">S-227</div>
          <div class="room-card">S-226</div>
          <div class="room-card">S-225</div>
          <div class="balcony stairs"><small>Balcony</small></div>
          <div class="room-card">S-224</div>
          <div class="room-card">S-223</div>
          <div class="room-card">S-222</div>
          <div class="room-card">S-221</div>
          
        </div>
  </div>
  