{% extends 'officials/base_officials.html' %}

{% block title %}Security Home{% endblock title %}
{% block content %}
<h2 class="text-center">Hello {{security.designation}}!</h2>
<div class="row justify-content-center p-3">
  <div class="col-12 col-md-4 border p-3 mr-md-3">
    <div class="text-center">
      <a href="{% url 'security:scan' %}"><button class="btn btn-primary">Scan</button></a>
    </div>
    <!-- <br><br> -->
    <!-- <div class="text-center">
      <a href="{% url 'django_auth:change_password' %}"><button class="btn btn-primary">Change Password</button></a>
    </div> -->
  </div>
</div>
{% endblock content %}