{% extends 'officials/base_officials.html' %}
{% block title %}Outing Detail{% endblock title %}
{% block content %}
<div class="row my-3 justify-content-center text-center">
  <div class="col-md-5 border py-3 mr-md-4">
    <h4 class="text-center border-bottom border-secondary pb-3">Outing Details</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td colspan="2" class="text-center">
            <img src="{% if outing.student.photo %} {{outing.student.photo.url}} {% endif %}" style="width: 160px; height: auto;" class="mb-3">
          </td>
        </tr>
        <tr>
          <th>Registration No.</th>
          <td>{{ outing.student.regd_no }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ outing.student.name }}</td>
        </tr>
        <tr>
          <th>Year</th>
          <td>{{ outing.student.year }}</td>
        </tr>
        <tr>
          <th>Branch</th>
          <td>{{ outing.student.branch }}</td>
        </tr>
        <tr>
          <th>Rating</th>
          <td>{{ outing.student.outing_rating }}</td>
        </tr>
        <tr>
          <th>Block</th>
          <td>{{ outing.student.block.name }}, {{ outing.student.roomdetail.room }}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{ outing.student.phone }}</td>
        </tr>
        <tr>
          <th>Mode of Outing</th>
          <td>{{ outing.type }}</td>
        </tr>
        <tr>
          <th>From</th>
          <td>{{ outing.fromDate }}</td>
        </tr>
        <tr>
          <th>To</th>
          <td>{{ outing.toDate }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ outing.status }}</td>
        </tr>
        <tr>
          <th>Remark by caretaker</th>
          <td>{{ outing.remark_by_caretaker }}</td>
        </tr>
        <tr>
          <th>Remark by warden</th>
          <td>{{ outing.remark_by_warden }}</td>
        </tr>
        {% if outingInOutTimes %}
        <tr>
          <th>Out Time</th>
          <td>{{ outingInOutTimes.outTime }}</td>
        </tr>
      </tbody>
    </table>
    
    <div class="my-3 text-center">
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <th>Remarks</th>
    <td>
        <textarea class="form-control" name="textarea"rows="5" cols="10">{{outingInOutTimes.remarks_by_security}}</textarea>
    </td>
        <button name="action" type="submit" value="Outing Closed"
          onclick="return confirm('Are you sure you want to close outing to {{outing.student.name}}?')"
          class="btn btn-success ml-3">Close Outing</button>
        <a href="{% url 'security:home' %}">
          <button type="button" class="btn btn-primary">Back</button>
        </a>
      </form>
    </div>
    {% endif %}

    
    

    {% if not outingInOutTimes %}
      </tbody>
    </table>
    <div class="my-3 text-center">
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <th>Remarks</th>
        <td>
            <textarea class="form-control" name="textarea"rows="5" cols="10">{{outingInOutTimes.remarks_by_security}}</textarea>
        </td>
      <br>
        <button name="action" type="submit" value="Allowed" id="grant"
          onclick="return confirm('Are you sure you want to allow outing to {{outing.student.name}}?')"
          class="btn btn-success ml-3">Allow</button>
        <button name="action" value="Disallowed" type="submit" class="btn btn-danger ml-3"
          onclick="return confirm('Are you sure you want to reject outing to {{outing.student.name}}?');">Disallow</button>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}