{% extends 'officials/base_officials.html' %}
{% block title %}Security Scan{% endblock title %}
{% block content %}

{% load static %}
<script src="{% static 'security/html5-qrcode.js' %}"></script>

<div class="row justify-content-center p-3"">
    <div style=" width:500px;" class="col-12 col-md-4 border p-3 mr-md-3" id="reader"></div>
<div class="hidden">
    <form method="POST" enctype="multipart/form-data" id="post-form">
        {% csrf_token %}
        <input type="hidden" name="qrcode" value="" id="post-data">
    </form>
</div>
</div>
{% endblock content %}


{% block script_links %}

<script>
    function onScanSuccess(qrCodeMessage) {
        document.getElementById('post-data').value = qrCodeMessage;
        document.getElementById('post-form').submit();
    }

    function onScanError(errorMessage) {
        //handle scan error
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", {
            fps: 10,
            qrbox: 250
        });
    html5QrcodeScanner.render(onScanSuccess, onScanError);
</script>

{% endblock script_links %}