{% extends 'institute/base_public_pages.html' %}

{% block title %}Contact{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/cards.css' %}">
{% endblock style_links %}


{% block content %}
<div class="container-fluid my-5 pt-5">
  <div class="row justify-content-center mx-md-3 p-3">
    <div class="col-12 text-center">
      <h2 class="d-inline border-bottom border-info">Contact Us!</h2>
    </div>
    <div class="col-12 mt-3">
      <h4 class="text-center">NIT Andhra Pradesh Hostel Committee</h4>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/Veeresh.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. Veeresh Kumar G B</h5>
          <div class="card-text">
            <p >Dean, Student Welfare</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. Veeresh Kumar G B</h4>
            <p >Dean, Student Welfare</p>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-9972455343</p>
            <p>eMail ID: <a href="mailto:dean_sw@nitandhra.ac.in">dean_sw@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/JKM.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. J. Krishnamurthy</h5>
          <div class="card-text">
            <p>Chief Warden</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. J. Krishnamurthy</h4>
            <span>Chief Warden</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-7975624892</p>
            <p>eMail ID: <a href="mailto:chiefwarden@nitandhra.ac.in">chiefwarden@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/srilatha.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. Srilatha Chebrolu</h5>
          <div class="card-text">
            <p>Deputy Chief Warden-Girls</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. Srilatha Chebrolu</h4>
            <span>Deputy Chief Warden-Girls</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-8330967036</p>
            <p>eMail ID: <a href="mailto:srilatha.chebrolu@nitandhra.ac.in">srilatha.chebrolu@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/RMD.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. M. Ramudu</h5>
          <div class="card-text">
            <p>Deputy Chief Warden-Boys</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. M. Ramudu</h4>
            <span>Deputy Chief Warden-Boys</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-9949142717</p>
            <p>eMail ID: <a href="mailto:ramudu@nitandhra.ac.in">ramudu@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/surendra.jpeg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. Surendra H M</h5>
          <div class="card-text">
            <p >Deputy Registrar (Hostels)</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. Surendra H M</h4>
            <p >Deputy Registrar (Hostels)</p>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-6366638618</p>
            <p>eMail ID: <a href="mailto:dr_hostels@nitandhra.ac.in">dr_hostels@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center mx-md-3 p-3">
    <!-- <div class="col-12 text-center">
      <h2 class="d-inline border-bottom border-info">NIT Andhra Pradesh Hostel Wardens</h2>
    </div> -->
    <div class="col-12 mt-3">
      <h4 class="text-center">Boys Hostel Wardens</h4>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/placeholder.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Not yet assigned</h5>
          <div class="card-text">
            <p>Warden-Godavari Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Not Yet Assigned</h4>
            <span>Warden-Godavari Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-</p>
            <p>eMail ID: <a href="mailto:">.@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/Satyanarayana.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. K Satyanarayana</h5>
          <div class="card-text">
            <p>Warden-Vamsadhara Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. K Satyanarayana</h4>
            <span>Warden-Vamsadhara Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-9232397804</p>
            <p>eMail ID: <a href="mailto:warden_prhr@nitandhra.ac.in">warden_prhr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/Satyanarayana.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. K Satyanarayana</h5>
          <div class="card-text">
            <p>Warden-Pranahitha Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. K Satyanarayana</h4>
            <span>Warden-Pranahitha Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-9232397804</p>
            <p>eMail ID: <a href="mailto:warden_prhr@nitandhra.ac.in">warden_prhr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/surendra.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.H.Surendra H M</h5>
          <div class="card-text">
            <p>Warden-Sabari Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.H.Surendra H M</h4>
            <span>Warden-Sabari Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-6366638618</p>
            <p>eMail ID: <a href="mailto:warden_ghr@nitandhra.ac.in">warden_ghr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/subbarao.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr. P.SubbaRao </h5>
          <div class="card-text">
            <p>Warden-Indravathi Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr. P.SubbaRao </h4>
            <span>Warden-Indravathi Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-7585965850</p>
            <p>eMail ID: <a href="mailto:warden_ihr@nitandhra.ac.in">warden_ihr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row justify-content-center mx-md-3 p-3">
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/Satyanarayana.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr K Satyanarayana</h5>
          <div class="card-text">
            <p>Warden-Nagavali Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr K Satyanarayana</h4>
            <span>Warden-Nagavali Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-9232397804</p>
            <p>eMail ID: <a href="mailto:warden_prhr@nitandhra.ac.in">warden_prhr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/sharad.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.Sharad Dwevedi</h5>
          <div class="card-text">
            <p>Warden-Purna Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.Sharad Dwevedi</h4>
            <span>Warden-Purna Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-8076079681</p>
            <p>eMail ID: <a href="mailto:warden_phr@nitandhra.ac.in">warden_phr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/amarendar.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.M.Amarendar Reddy</h5>
          <div class="card-text">
            <p>Warden-Manjeera Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.M.Amarendar Reddy</h4>
            <span>Warden-Manjeera Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-7893702344</p>
            <p>eMail ID: <a href="mailto:warden_mjhr@nitandhra.ac.in">warden_mjhr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/yuvaraj.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.S.Yuvaraj</h5>
          <div class="card-text">
            <p>Warden-Banganga Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.S.Yuvaraj</h4>
            <span>Warden-Banganga Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-8090673100</p>
            <p>eMail ID: <a href="mailto:warden_bhr@nitandhra.ac.in">warden_bhr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/narasimharao.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.Narasimha Rao</h5>
          <div class="card-text">
            <p>Warden-Swarnamukhi Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.Narasimha Rao</h4>
            <span>Warden-Swarnamukhi Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-7989935826</p>
            <p>eMail ID: <a href="mailto:warden_shr@nitandhra.ac.in">warden_shr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row justify-content-center mx-md-3 p-3">
    <!-- <div class="col-12 text-center">
      <h2 class="d-inline border-bottom border-info">NIT Andhra Pradesh Hostel Wardens</h2>
    </div> -->
    <div class="col-12 mt-3">
      <h4 class="text-center">Girls Hostel Wardens</h4>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/srilatha.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.Ch.Srilatha</h5>
          <div class="card-text">
            <p>Warden-Krishnaveni Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.Ch.Srilatha</h4>
            <span>Warden-Krishnaveni Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-8330967036</p>
            <p>eMail ID: <a href="mailto:warden_khr@nitandhra.ac.in">warden_khr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/reshma.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.Reshma</h5>
          <div class="card-text">
            <p>Warden-Bhima Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.Reshma</h4>
            <span>Warden-Bhima Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-8985813933</p>
            <p>eMail ID: <a href="mailto:warden_bmhr@nitandhra.ac.in">warden_bmhr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/sudarshana.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.V.Sudharshana Deepa</h5>
          <div class="card-text">
            <p>Warden-Thungabadra Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.V.Sudharshana Deepa</h4>
            <span>Warden-Thungabadra Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-9944904249</p>
            <p>eMail ID: <a href="mailto:warden_thr@nitandhra.ac.in">warden_thr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/soumya.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Dr.Soumya Jose</h5>
          <div class="card-text">
            <p>Warden-Ghataprabha Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Dr.Soumya Jose</h4>
            <span>Warden-Ghataprabha Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-9585932324</p>
            <p>eMail ID: <a href="mailto:residentwarden_ghr@nitandhra.ac.in">residentwarden_ghr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/kamala.jpeg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Ms.Kamala Mohanty</h5>
          <div class="card-text">
            <p>Warden-Munneru Hall of Residence</p>
          </div>
          <div class="card-reveal">
            <h4>Ms.Kamala Mohanty</h4>
            <span>Warden-Munneru Hall of Residence</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91-8439072427</p>
            <p>eMail ID: <a href="mailto:warden_mhr@nitandhra.ac.in">warden_mhr@nitandhra.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row justify-content-center mx-md-3 p-3 mt-4 border-top border-secondary">
    <div class="col-12 mt-3">
      <h4 class="text-center">Hostel Incharges</h4>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/placeholder.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Mr. Rakesh Singh</h5>
          <div class="card-text">
            <p>Security Officer</p>
          </div>
          <div class="card-reveal">
            <h4>Mr. Rakesh Singh</h4>
            <span>Security Officer</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91 9945636541</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'institute/placeholder.jpg' %}" alt="Block Image"
          style="width: auto; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Mr. Raghu Ram</h5>
          <div class="card-text">
            <p>Housekeeping Incharge</p>
          </div>
          <div class="card-reveal">
            <h4>Mr. Raghu Ram</h4>
            <span>Housekeeping Incharge</span>
            <h5 class="mt-4">Contact:</h5>
            <p>Phone: +91 9784263011</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script_links %}
<script src="{% static 'institute/cards.js' %}"></script>
{% endblock script_links %}