{% extends 'institute/base_public_pages.html' %}

{% block title %}Dev Team{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/cards.css' %}">
{% endblock style_links %}


{% block content %}
<div class="container-fluid my-5 pt-5">
  <div class="text-center">
    <h2 class="d-inline border-bottom border-info">Development Team</h2>
  </div>
  <div class="row justify-content-around">
    <div class="col md-4 mt-4">
       <h4 class="text-center mb-3">Hostel Office Advisors</h4>
      <div class="row justify-content-around">
        <div class="col-md-6 px-3 d-flex jutify-content-center">
          <div class="card mx-auto mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/srilatha.jpg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Dr. Srilatha Chebrolu</h5>
              <div class="card-text">
                <p>Assisstant Professor</p>
              </div>
              <div class="card-reveal">
                <h4>Dr. Srilatha Chebrolu</h4>
                <span>Assistant Professor, Department of CSE</span>
                <h5 class="mt-4">Contact:</h5>
                <p>Phone: +91-8330967036</p>
                <p>eMail ID: <a href="mailto:srilatha.chebrolu@nitandhra.ac.in">srilatha.chebrolu@nitandhra.ac.in</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 px-3 d-flex jutify-content-center">
          <div class="card mx-auto mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/dinesh.jpeg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Mr. Venkata Dinesh Babu K</h5>
              <div class="card-text">
                <p>Senior Assistant</p>
              </div>
              <div class="card-reveal">
                <h4>Mr. Venkata Dinesh Babu K</h4>
                <span>Senior Assistant, Hostel Office</span>
                <h5 class="mt-4">Contact:</h5>
                <p>Phone: +91-6281785872</p>
                <p>eMail ID: <a href="mailto:venkatdinesh.nts@nitandhra.ac.in">venkatdinesh.nts@nitandhra.ac.in</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/venkata-dinesh-kedarisetti-0409a9242/" target="_blank" class="card-link">https://www.linkedin.com/in/venkata-dinesh-kedarisetti-0409a9242/</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col md-4 mt-4">
      <h4 class="text-center mb-3">Senior Developers</h4>
      <div class="row justify-content-aroud">
        <div class="col-md-6 px-3 d-flex justify-content-center">
          <div class="card mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/eswar.jpg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Eswar Prasad Clinton. A</h5>
              <div class="card-text">
                <p>Computer Science and Engineering</p>
              </div>
              <div class="card-reveal">
                <h4>Eswar Prasad Clinton. A</h4>
                <span>Computer Science and Engineering, Batch of 2018-22</span>
                <h5 class="mt-4">Contact:</h5>
                <p>eMail ID: <a href="mailto:411818@student.nitandhra.ac.in" class="card-link">411818@student.nitandhra.ac.in</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/eswar-clynn" target="_blank" class="card-link">https://www.linkedin.com/in/eswar-clynn</a></p>
                <p>Phone: +91 80565 48745</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 px-3 d-flex justify-content-center">
          <div class="card mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/chaithanya.jpg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Ravuri Lalitha Krishna Chaithanya</h5>
              <div class="card-text">
                <p>Computer Science and Engineering</p>
              </div>
              <div class="card-reveal">
                <h4>Ravuri Lalitha Krishna Chaithanya</h4>
                <span>Computer Science and Engineering, Batch of 2018-22</span>
                <h5 class="mt-4">Contact:</h5>
                <p>eMail ID: <a href="mailto:411866@student.nitandhra.ac.in" class="card-link">411866@student.nitandhra.ac.in</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/chaithanya-rlk-5b14a719b" target="_blank" class="card-link">https://www.linkedin.com/in/chaithanya-rlk-5b14a719b</a></p>
                <p>Phone: +91 88979 23566</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<h4 class="text-center mb-3">Junior Developers</h4>
<br>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
        
          <div class="card mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/adithya.jpg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Adithya VRM Adiraju</h5>
              <div class="card-text">
                <p>Computer Science and Engineering</p>
              </div>
              <div class="card-reveal">
                <h4>A Adithya</h4>
                <span>Computer Science and Engineering, Batch of 2020-24</span>
                <h5 class="mt-4">Contact:</h5>
                <p>eMail ID: <a href="mailto:420103@student.nitandhra.ac.in" class="card-link">420103@student.nitandhra.ac.in</a></p>
                <p>Phone: +91 9390098909</p>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      <!-- <div class="col-md-4 mt-4"> -->
        <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
          <div class="card mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/eswar_sai_B.jpg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Eswar Sai Bandi</h5>
              <div class="card-text">
                <p>Computer Science and Engineering</p>
              </div>
              <div class="card-reveal">
                <h4>Eswar Sai Bandi</h4>
                <span>Computer Science and Engineering, Batch of 2020-24</span>
                <h5 class="mt-4">Contact:</h5>
                <p>eMail ID: <a href="mailto:420130@student.nitandhra.ac.in" class="card-link">420130@student.nitandhra.ac.in</a></p>
                <p>Phone: +91 9963039919</p>
              </div>
            </div>
          </div>
        </div>
       

        <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
          <div class="card mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/amulya.jpeg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Nalla Amulya</h5>
              <div class="card-text">
                <p>Computer Science and Engineering</p>
              </div>
              <div class="card-reveal">
                <h4>Nalla Amulya</h4>
                <span>Computer Science and Engineering, Batch of 2020-24</span>
                <h5 class="mt-4">Contact:</h5>
                <p>eMail ID: <a href="mailto:420211@student.nitandhra.ac.in" class="card-link">420211@student.nitandhra.ac.in</a></p>
                <p>Phone: +91 </p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
          <div class="card mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/sasi.jpg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Sasi Bhushan VS</h5>
              <div class="card-text">
                <p>Computer Science and Engineering</p>
              </div>
              <div class="card-reveal">
                <h4>Sasi Bhushan VS</h4>
                <span>Computer Science and Engineering, Batch of 2020-24</span>
                <h5 class="mt-4">Contact:</h5>
                <p>eMail ID: <a href="mailto:420230@student.nitandhra.ac.in" class="card-link">420230@student.nitandhra.ac.in</a></p>
                <!-- <p>LinkedIn: <a href="https://www.linkedin.com/in/chaithanya-rlk-5b14a719b" target="_blank" class="card-link">https://www.linkedin.com/in/chaithanya-rlk-5b14a719b</a></p> -->
                <p>Phone: +91 7396446757</p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-12 col-md-6 col-lg-4 col-xl-2 p-3 d-flex justify-content-center">
          <div class="card mt-3" style="width: 18rem; max-width:100%;">
            <img class="card-img-top" src="{% static 'institute/gopi_chandu.jpg' %}" alt="Block Image"
              style="width: auto; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Sirisetti Gopi Chandu</h5>
              <div class="card-text">
                <p>Computer Science and Engineering</p>
              </div>
              <div class="card-reveal">
                <h4>Sirisetti Gopi Chandu</h4>
                <span>Computer Science and Engineering, Batch of 2020-24</span>
                <h5 class="mt-4">Contact:</h5>
                <p>eMail ID: <a href="mailto:420237@student.nitandhra.ac.in" class="card-link">420237@student.nitandhra.ac.in</a></p>
                <!-- <p>LinkedIn: <a href="https://www.linkedin.com/in/chaithanya-rlk-5b14a719b" target="_blank" class="card-link">https://www.linkedin.com/in/chaithanya-rlk-5b14a719b</a></p> -->
                <p>Phone: +91 9032785369</p>
              </div>
            </div>
          </div>
        </div>

    </div>
        
        
</div>
{% endblock content %}

{% block script_links %}
<script src="{% static 'institute/cards.js' %}"></script>
{% endblock script_links %}