{% extends 'officials/base_officials.html' %}

{% block title %}Announcements{% endblock title %}
{% block content %}
<h2 class="text-center">Announcements</h2>
<hr />
{% for announcement in announce_obj %}
<div class="row">
    <div class="{% if user.is_official and user.official.is_chief  %}col-8 text-center{% else %}col text-center{% endif %}">
        <a href="{{ announcement.document.url }}" target="_blank">
            {{ announcement.info }}
        </a>
    </div>
    <div class="{% if user.is_official and  user.official.is_hostel_office %}col-8 text-center{% else %}col text-center{% endif %}">
        <a href="{{ announcement.document.url }}" target="_blank">
            {{ announcement.info }}
        </a>
    </div>
    {% if user.is_official and user == announcement.created_by %}
    <div class="col-2 text-end">
        <a href="{% url 'officials:announcement-edit' announcement.id %}" class="btn btn-primary">Edit</a>
    </div>
    <div class="col-2 text-center">
        <a href="{% url 'officials:announcement-delete' announcement.id %}" class="btn btn-danger" onclick="return confirm('Are you sure to delete announcement {{announcement.id}}?')">Delete</a>
    </div>
    {% endif %}
</div>
<hr>
{% endfor %}
{% endblock content %}