{% extends 'officials/base_officials.html' %}
{% block title %}Outing{% endblock title %}
{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'officials/outing_show.css' %}">
{% endblock style_links %}
{% block content %} 
<h2 class="text-center">Outing - {{ outing.student.regd_no }}</h2>
<hr>
<div class="row my-3 justify-content-center">
  <div class="col-md-5 border py-3 mr-md-4">
    <h4 class="text-center border-bottom border-secondary pb-3">Outing Details</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>From</th>
          <td>{{ outing.fromDate }}</td>
        </tr>
        <tr>
          <th>To</th>
          {% if outing.type != 'Vacation' %}
          <td>{{ outing.toDate }}</td>
          {% else %}
          <td>None</td>
          {% endif %}
        </tr>
        <tr>
          <th>Mode of outing</th>
          <td>{{outing.type}}</td>
        </tr>
        <tr>
          <th>Rating</th>
          <td>
            <div id="rating" class="Stars" style="--rating: {{ outing.student.outing_rating }};" aria-label="Rating of this product is {{ outing.student.outing_rating }} out of 5.">
              <div id="rating-text">
                {{outing.student.outing_rating}}   
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Permission</th>
          <td style="color: #F94C66; font-weight:bold">{{ outing.permission }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ outing.status }}</td>
        </tr>
        {% if extendOuting %}
        <tr>
          <th>Extension From Date</th>
          <td>{{ extendOuting.fromDate }}</td>
        </tr>
        <tr>
          <th>Extension To Date</th>
          <td>{{ extendOuting.toDate }}</td>
        </tr>
        <tr>
          <th>Mode of Journey(From)</th>
          <td>{{ extendOuting.mode_of_journey_from }}</td>
        </tr>
        <tr>
          <th>Mode of Journey(To)</th>
          <td>{{ extendOuting.mode_of_journey_to }}</td>
        </tr>
        <tr>
          <th>Emergency Contact Number</th>
          <td>{{ extendOuting.emergency_contact }}</td>
        </tr>
        {% if outing.type == 'Emergency' and outing.purpose == 'Medical Emergency' %}
        <tr>
          <th>Medical Issue Id</th>
          <td>{{ extendOuting.emergency_medical_issue.id }}</td>
        </tr>
        <tr>
          <th>Medical Issue Updated at</th>
          <td>{{ extendOuting.emergency_medical_issue.updated_at }}</td>
        </tr>
        <tr>
          <th>Medical Issue Summary</th>
          <td>{{ extendOuting.emergency_medical_issue.summary }}</td>
        </tr>
        <tr>
          <th>Medical Issue remark by doctor</th>
          <td>{{ extendOuting.emergency_medical_issue.remark }}</td>
        </tr>
        <tr>
          <th>Doctor's Consent</th>
          <td>{{ extendOuting.emergency_medical_issue.emergency_outing_permission }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Purpose of Visit</th>
          <td>{{ extendOuting.purpose }}</td>
        </tr>
        <tr>
          <th>Place of Visit</th>
          <td>{{ extendOuting.place_of_visit }}</td>
        </tr>
        {% else %}
        <tr>
          <th>Purpose of Visit</th>
          <td>{{ outing.purpose }}</td>
        </tr>
        <tr>
          <th>Place of Visit</th>
          <td>{{ outing.place_of_visit }}</td>
        </tr>
        {% if outing.type != 'Local' and outing.type != 'Vacation' %}
        <tr>
          <th>Mode of Journey(From)</th>
          <td>{{ outing.mode_of_journey_from }}</td>
        </tr>
        <tr>
          <th>Mode of Journey(To)</th>
          <td>{{ outing.mode_of_journey_to }}</td>
        </tr>
        <tr>
          <th>Emergency Contact Number</th>
          <td>{{ outing.emergency_contact }}</td>
        </tr>
        {% if outing.type == 'Emergency' and outing.purpose == 'Medical Emergency' %}
        <tr>
          <th>Medical Issue Id</th>
          <td>{{ outing.emergency_medical_issue.id }}</td>
        </tr>
        <tr>
          <th>Medical Issue Updated at</th>
          <td>{{ outing.emergency_medical_issue.updated_at }}</td>
        </tr>
        <tr>
          <th>Medical Issue Summary</th>
          <td>{{ outing.emergency_medical_issue.summary }}</td>
        </tr>
        <tr>
          <th>Medical Issue remark by doctor</th>
          <td>{{ outing.emergency_medical_issue.remark }}</td>
        </tr>
        <tr>
          <th>Doctor's Consent</th>
          <td>{{ outing.emergency_medical_issue.emergency_outing_permission }}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endif %}
        <form method="POST" class="d-inline">{% csrf_token %}
        {% if official == 'Caretaker' and type != 'Local' %}
        <tr>
          <th>Parent Response</th>
          <td>
            <input type="radio" name="parent_consent" id="accept" value="Accepted" required onclick="EnableDisableButton()">
            <label for="accept">Accepted</label>
            <input type="radio" name="parent_consent" id="deny" value="Denied" onclick="EnableDisableButton()">
            <label for="deny">Denied</label>
          </td>
        </tr>     
        {% endif %}
        {% if official == 'Warden' %}
        <tr>
          {% if outing.permission == 'Processing' %}
          <th>Remark by Caretaker</th>
          <td>{{ outing.remark_by_caretaker }}</td>
          {% else %}
          <th>Remark by Caretaker</th>
          <td>{{ outing.remark_by_caretaker }}</td>
          {% endif %}
        </tr>
        {% if outing.type != 'Local' and outing.type != 'Vacation' %}
        <tr>
          <th>Mess Rebate</th>
          <td>
            <input type="radio" name="mess_rebate" id="accept" value="Enabled" required>
            <label for="accept">Enable</label>
            <input type="radio" name="mess_rebate" id="deny" value="Disabled">
            <label for="deny">Disable</label>
          </td>
        </tr>
        {% endif %}
        <tr>
        {% endif %}


        {% if official == 'Warden' %}
          <th>Remarks</th>
          <td>
              <textarea class="form-control" name="textarea"rows="5" cols="20">{% if outing.remark_by_warden %}{{ outing.remark_by_warden }}{% endif %}</textarea>
          </td>
          {% else %}
          <th>Remarks</th>
          <td>
              <textarea class="form-control" name="textarea"rows="5" cols="20">{% if outing.remark_by_caretaker %}{{ outing.remark_by_caretaker }}{% endif %}</textarea>
          </td>
          {% endif %}

        </tr>    
   
      </tbody>
    </table>
    
    <div class="my-3 text-center">
        <button name="permission" type="submit" value="Granted" id="grant" onclick="return confirm('Are you sure you want to grant outing to {{outing.student.name}}?')" class="btn btn-success ml-3">Grant</button>
        <button name="permission" value="Rejected" type="submit" class="btn btn-danger ml-3" onclick="return confirm('Are you sure you want to reject outing to {{outing.student.name}}?');">Reject</button>
      </form>
    </div>

    <h4 class="text-center border-bottom border-secondary pb-3">Student Details</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>Registration No.</th>
          <td>{{ outing.student.regd_no }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ outing.student.name }}</td>
        </tr>
        <tr>
          <th>Year</th>
          <td>{{ outing.student.year }}</td>
        </tr>
        <tr>
          <th>Branch</th>
          <td>{{ outing.student.branch }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ outing.student.gender }}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{ outing.student.phone }}</td>
        </tr>
        <tr>
          <th>Parent's Phone</th>
          <td>{{ outing.student.parents_phone }}</td>
        </tr>
        <tr>
          <th>Block</th>
          <td>
            {{ outing.student.roomdetail.block.name }}
          </td>
        </tr>
        <tr>
          <th>Room No.</th>
          <td>{{ outing.student.roomdetail.room }}</td>
        </tr>
        <tr>
          <th>Person with Disablity</th>
          <td>{% if outing.student.pwd %}Yes{% else %}No{% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 border py-3">
    <h4 class="text-center border-bottom border-secondary pb-3">Outing History</h4>
    <div class="overflow-auto p-3">
      <table class="table table-muted">
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Purpose</th>
            <th>Permission</th>
          </tr>
        </thead>
        <tbody>
          {% for item in outing.student.outing_set.all %}
            <tr {% if outing == item %}class="text-primary"{% endif %}>
              <td>{{ item.fromDate|date:"d-m-Y" }}</td>
              <td>{{ item.toDate|date:"d-m-Y" }}</td>
              <td>{{ item.purpose }}</td>
              <td>{{ item.permission }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  function EnableDisableButton() {
      var accept = document.getElementById("accept");
      var deny = document.getElementById("deny");
      var grant = document.getElementById("grant");
      grant.disabled = deny.checked ? true : false;
      if (!grant.disabled) {
         grant.enabled=true;
      }
  }
</script>
{% endblock content %}














